# Copier ce fichier en .env et adapter les valeurs

# URL de l'API backend
# - Émulateur Android  : http://10.0.2.2:3000/api/v1
# - Appareil physique  : http://<IP_DE_VOTRE_MACHINE>:3000/api/v1
# - Production         : https://api.barakabox.ma/api/v1
EXPO_PUBLIC_API_URL=http://10.0.2.2:3000/api/v1
